#Group-10 Dataset world

##Questions:
1.	Find out how many countries are there in the dataset.
2.	Find out how many countries with respect to the region are available in the dataset
3.	On average which region has the highest
a.	GDP per capita (current US$)
b.	International trade: Imports (million US$)
4.	Find out which region has more consistent with respect to GDP per capita (current US$)

In [1]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_excel('Dataset_w6.xlsx')

In [5]:
data.head(5)

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
0,Afghanistan,SouthernAsia,652864,35530,623.2,125,3568
1,Albania,SouthernEurope,28748,2930,3984.2,134,4669
2,Algeria,NorthernAfrica,2381741,41318,4154.1,160,47091
3,Angola,MiddleAfrica,1246700,29784,4714.1,175,8790
4,Antigua and Barbuda,Caribbean,442,102,14764.5,88,491

##1.	Find out how many countries are there in the dataset.

In [6]:
print("There are " ,data.country.count() , " countries in the Dataset")

There are  196  countries in the Dataset

##2.	Find out how many countries with respect to the region are available in the dataset

In [7]:
data.groupby(by="Region").size()

Region
Caribbean            16
CentralAmerica        8
CentralAsia           5
EasternAfrica        17
EasternAsia           7
EasternEurope        10
Melanesia             5
Micronesia            4
MiddleAfrica          9
NorthernAfrica        5
NorthernAmerica       4
NorthernEurope       10
Oceania               2
Polynesia             5
South-easternAsia    11
SouthAmerica         12
SouthernAfrica        5
SouthernAsia          9
SouthernEurope       12
WesternAfrica        15
WesternAsia          18
WesternEurope         7
dtype: int64

##3.On average which region has the highest a. GDP per capita (current US )

In [8]:
df1 = data.groupby("Region")['GDP per capita (current US$)'].mean().round().reset_index()
df1

               Region  GDP per capita (current US$)
0           Caribbean                       15136.0
1      CentralAmerica                        6348.0
2         CentralAsia                        4330.0
3       EasternAfrica                        2089.0
4         EasternAsia                       27968.0
5       EasternEurope                        9292.0
6           Melanesia                        9262.0
7          Micronesia                        5008.0
8        MiddleAfrica                        3929.0
9      NorthernAfrica                        3935.0
10    NorthernAmerica                       57659.0
11     NorthernEurope                       42098.0
12            Oceania                       44823.0
13          Polynesia                        8687.0
14  South-easternAsia                       10299.0
15       SouthAmerica                        8500.0
16     SouthernAfrica                        4192.0
17       SouthernAsia                        2968.0
18     SouthernEurope                       14463.0
19      WesternAfrica                        1013.0
20        WesternAsia                       17014.0
21      WesternEurope                       55387.0

In [9]:
df1.sort_values('GDP per capita (current US$)').nlargest(3,'GDP per capita (current US$)')

             Region  GDP per capita (current US$)
10  NorthernAmerica                       57659.0
21    WesternEurope                       55387.0
12          Oceania                       44823.0

## 洧녪.洧냪洧녵洧노洧뉧롐洧녵洧녩洧노洧녰洧녶洧녵洧녩洧녳洧노洧洧녩洧녬洧:洧냪洧녴洧녷洧녶洧洧노洧(洧녴洧녰洧녳洧녳洧녰洧녶洧녵洧녣洧녡 )

In [10]:
df2 = data.groupby("Region")['International trade: Imports (million US$)'].mean().round(2).reset_index()
df2.sort_values('International trade: Imports (million US$)',ascending=False).nlargest(3,'International trade: Imports (million US$)')

             Region  International trade: Imports (million US$)
10  NorthernAmerica                                   663552.25
4       EasternAsia                                   451995.00
21    WesternEurope                                   407498.43

In [12]:
df3 = data.groupby("Region")['GDP per capita (current US$)'].std().round(2).reset_index()
df3.sort_values('GDP per capita (current US$)',ascending=False).nsmallest(3,'GDP per capita (current US$)')

            Region  GDP per capita (current US$)
19   WesternAfrica                        815.10
9   NorthernAfrica                        974.71
16  SouthernAfrica                       2177.55